<%= form_tag homepage_index_path, method: :post, multipart: true do %>
  <div class="row">
    <%= text_field_tag "title" %>
    <%= file_field_tag "file" %>
    <%= submit_tag 'SUBMIT', class: "actions btn btn-primary" %>
  </div>
<% end %>
